In [6]:
import pandas as pd
from medpredictor import Config

In [7]:
df = pd.read_csv(Config.data_raw_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [8]:
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [9]:
df['Diabetes_012'] = df['Diabetes_012'].map({0:'No diabetes', 1:'Prediabetes', 2:'Diabetes'})
df['HighBP'] = df['HighBP'].map({0:'No', 1:'Yes'})
df['HighChol'] = df['HighChol'].map({0:'No', 1:'Yes'})
df['CholCheck'] = df['CholCheck'].map({0:'No', 1:'Yes'})
df['Smoker'] = df['Smoker'].map({0:'No', 1:'Yes'})
df['Stroke'] = df['Stroke'].map({0:'No', 1:'Yes'})
df['HeartDiseaseorAttack'] = df['HeartDiseaseorAttack'].map({0:'No', 1:'Yes'})
df['PhysActivity'] = df['PhysActivity'].map({0:'No', 1:'Yes'})
df['Fruits'] = df['Fruits'].map({0:'No', 1:'Yes'})
df['Veggies'] = df['Veggies'].map({0:'No', 1:'Yes'})
df['HvyAlcoholConsump'] = df['HvyAlcoholConsump'].map({0:'No', 1:'Yes'})
df['AnyHealthcare'] = df['AnyHealthcare'].map({0:'No', 1:'Yes'})
df['NoDocbcCost'] = df['NoDocbcCost'].map({0:'No', 1:'Yes'})
df['GenHlth'] = df['GenHlth'].map({1:'Excellent', 2:'Very good', 3:'Good', 4:'Fair', 5:'Poor'})
df['DiffWalk'] = df['DiffWalk'].map({0:'No', 1:'Yes'})
df['Sex'] = df['Sex'].map({0:'Female', 1:'Male'})
df['Age'] = df['Age'].map({1:'18 to 24', 
                           2:'25 to 29', 
                           3:'30 to 34', 
                           4:'35 to 39', 
                           5:'40 to 44', 
                           6:'45 to 49', 
                           7:'50 to 54', 
                           8:'55 to 59', 
                           9:'60 to 64', 
                           10:'65 to 69', 
                           11:'70 to 74', 
                           12:'75 to 79', 
                           13:'80 or older'})
df['Education'] = df['Education'].map({1:'Never attended school or only kindergarten', 
                                       2:'Elementary', 
                                       3:'Some high school', 
                                       4:'High school graduate', 
                                       5:'Some college or technical school', 
                                       6:'College graduate'})
df['Income'] = df['Income'].map({1:'Less than $10,000', 
                                 2:'$10k to less than $15k', 
                                 3:'$15k to less than $20k', 
                                 4:'$20k to less than $25k', 
                                 5:'$25k to less than $35k', 
                                 6:'$35k to less than $50k', 
                                 7:'$50k to less than $75k', 
                                 8:'$75,000 or more'})

In [10]:
df.to_csv(Config.data_processed_path, index=False)